/* Footer */
.lt-footer-bottom {
    background: $color-black;
    padding: 20px 0;
    font-size: 14px;
    font-family: $italic;
}

.lt-footer-social {
    text-align: right;
    font-size: 0;

    a {
        color: $color-footer;
        font-size: 14px;
        transition: all 0.4s;

        &:hover{
            color: $color-primary;
        }
        
        &:not(:last-child){
            &:after {
                content: "/";
                margin: 0 5px;
                color: $color-footer;
            }
        }
    }
}