@include keyframes(scroll-title) {
    0% {
        transform: translate(-50%, -51%);
    }
    100% {
        transform: translate(-84.9%, -50%); 
    }
}

.fade-in {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: transform .7s ease 0s,opacity .7s ease 0s;

    &.show {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1.4s ease 0s,opacity 1.4s ease 0s;
    }
}