/* Btn */
.tg-button {
    cursor: pointer; 
    width: 20px; 
    height: 20px;
    margin: 4px 0 4px 15px;
    display: none; 
    float: right;
 
    @include response(max, 991){ 
        display: block;
    }

    span {
        transition: all 0.3s ease;
        display: block;
        width: 20px;
        height: 2px;
        background: #111;

        &.sp-2 {
            margin: 6px 0;
        }
    }

    &.active{
        span{
            &.sp-1{
                transform: translateY(8px) rotate(45deg);
            }

            &.sp-2 {
                opacity: 0;
            }

            &.sp-3{
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

.btn {
    display: inline-block;
    font-size: 13px;
    font-family: $bold;
    text-transform: uppercase;
    transition: all .4s;
    overflow: hidden;
    text-align: center;

    span {
        position: relative;
        display: block;
        transition: transform 0.3s;
        height: 40px;
        padding: 0 30px;
        line-height: 40px;

        &:before {
            content: attr(data-hover);
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            transform: translate3d(0,0,0);
            font-size: 13px;
            font-family: $bold;
            color: $color-primary;
            background: #fff; 
        }
    }
    
    &:hover, &:focus {
        span {
            transform: translateY(-100%);
        }
    }

    &.btn-primary {
        // box-shadow: 0 10px 30px rgba(9, 40, 53, .2);
        
        span {
            background: $color-primary;
            color: #fff;

            &:before {
                background: $color-black;
                color: #fff;
            }
        }
    }

    &.btn-hover-wh {
        span {
            background: $color-primary;
            color: #fff;

            &:before {
                background: #fff;
                color: $color-primary;
            }
        }
    }
    
    &.btn-lg { 
        span {
            height: 60px;
            line-height: 60px; 
            padding: 0 60px;
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    &.btn-full {
        width: 100%;
    }
}


.btn-blue {
    color: #fff;
}