/* Forms */
.input-group, .textarea-group {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    @include response(max, 767){
        margin: 15px 0;
    }

    input, textarea, label {
        font-size: 13px;
        text-transform: uppercase;
        font-family: $bold;
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
        padding: 25px 25px 25px 0;
        position: relative;
        z-index: 1;

        @include response(max, 767){
            padding: 15px 15px 15px 0;
        }
    }


    &.border-top {
        border-top: 1px solid rgba(255,255,255,0.2);
    }


    span{
        position: absolute;
        left: 30%;
        bottom: -1px;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: width .35s,background-color .35s;

        @include response(max, 767){
            left: 0;
        }
    }
}

.lt-btn-file {
    position: relative;

    input[type="file"] {
        width: 100%;
        height: 50px;
        opacity: 0;
        cursor: pointer;
    }

    .label-btn {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 18px 0;
        text-align: center;
        top: 0;
        left: 0;
        font-size: 13px;
        text-transform: uppercase;
        background: #fff;
        color: $color-black;
        font-family: $bold;

        @include response(max, 767){
            font-size: 12px;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            font-size: 16px;
            color: $color-black;

            @include response(max, 767){
                margin-right: 5px;
            }
        }
    }
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    label {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 25px 0;
        cursor: pointer;

        @include response(max, 767){
            padding: 15px 0;
        }
    }

    input{
        flex: 0 0 70%;
        max-width: 70%;
        position: relative;

        &:focus {
            & + span {
                width: 70%;

                @include response(max, 767){
                    width: 100%;
                }
            }
        }
    }

    label, input {
        @include response(max, 767){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.textarea-group {
    textarea, label {
        display: block;
    }

    label {
        display: block;
        margin: 50px 0 25px;
    }

    textarea {
        height: 150px;
        padding: 20px;
        border: 1px solid rgba(255,255,255,0.2);

        &:focus {
            & + span {
                width: 100%;
            }
        }
    }

    span{
        left: 0;
    }
}

.wrap-range {
    padding-bottom: 30px;
}

.irs-slider{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 30px 15px;
    border-color: transparent transparent #ffffff transparent;
    top: 50%;
    margin-top: -15px;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.4s;

    &:hover {
        border-color: transparent transparent #5ace5f transparent;
    }
}

.irs-from, .irs-single, .irs-to{
    background: rgba(0,0,0,0);
    font-size: 13px;
    font-family: $bold;
    top: -10px;

    &:after {
        content: none;
    }
}

.irs-bar {
    background: $color-primary;
}

// .irs-bar,
.irs-line-left,
.irs-line-mid,
.irs-line-right {
    background: #fff;
}

.style-select {
    width: 100%;
    
    .select2-choice{
        height: auto;
        width: 100%;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 24px 0;
        position: relative;
        z-index: 1;
        line-height: 1;
        background: transparent;
        border-radius: 0;
        text-align: center;
        font-size: 16px;

        @include response(max, 767){
            padding: 15px 0;
        }

        & > .select2-chosen {
            margin: 0;
            text-transform: uppercase;
            font-family: $bold; 
        }

        .select2-arrow {
            background: transparent;
            border-radius: 0;
            border: 0;
            right: 15px;
            color: $color-primary;

            b {
                dispaly: none;
            }

            &:before {
                content: "\61";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-family: "gstuff" !important;
                font-style: normal !important;
            }
        }
    }
}

.select2-results {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        border-bottom: 1px solid #e0dcdc;
    }

    .select2-result-label {
        padding: 20px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-family: $bold;

        @include response(max, 767){
            padding: 15px 0;
        }
    }

    .select2-highlighted {
        background: $color-black;;
        color: #fff;
    }
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background: transparent;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.select2-drop {
    &.select2-drop-above {
        background: #fff;
        border-radius: 0; 
        color: $color-black;
        border: 0;
    }

    &.select2-drop-above.select2-drop-active {
        border: 0;
    }
}