/* Modules */
* {
    letter-spacing: 0.05em; 
}
 
section{
    padding: 50px 0;

    @include response(max, 480) {
        padding: 25px 0;
    }
}
.lt-from-technology,
.lt-advantages {
    padding-top: 0;
}

.lt-cms {
    .lt-title {
        margin: 100px 0 50px;
    }
}

.lt-title {
    text-align: center;

    p{
        margin: 25px 0;
    }
}

.wrap-page{
    overflow: hidden;
    position: relative;
}

.lt-main-screen {
    height: 700px;
    background-position: center;
    background-size: cover;

    .screen-content{
        color: #fff;
    }
}

.lt-full-screen {
    height: 100vh;
    padding: 0 15px;
}

.lt-full-screen,
.lt-main-screen {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.screen-content{
    text-align: center;

    h1 {
        font-size: 120px;
        font-family: $bold;

        @include response(max, 1380) {
            font-size: 80px;
        }

        @include response(max, 991) {
            font-size: 60px;
        }

        @include response(max, 767) {
            font-size: 40px;
        }
    }

    p {
        margin: 40px 0;
        font-size: 18px; 
    }
}
  
.lt-title-line {
    height: 300px;
    position: relative;
    overflow: hidden;
 
    & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color-black;
        text-transform: uppercase;
        font-family: $bold; 
        white-space: nowrap;
        animation: scroll-title 16s linear infinite;
        user-select:none;

        // &:hover {
        //     animation-play-state: paused;
        // }
    }

    span {
        font-size: 120px;
        letter-spacing: 0.6em;
    }

    @include response(max, 1199) {
        height: 200px;

        span{
            font-size: 80px;
        }
    }

    @include response(max, 991) {
        height: 150px;

        span{
            font-size: 60px;
        }
    }

    @include response(max, 480) {
        height: 100px;

        span{
            font-size: 50px;
        }
    }
}

.lt-advantages { 
    text-align: center;
    
    .lt-item {
        cursor: pointer;
        position: relative;
        padding: 20px;
        transition: all 0.4s;


        @include response(max, 991) {
            padding: 15px;
        }

        @include response(min, 992) {
            &:hover {
                background: #f3f3f3;
            }
            
            .btn {
                opacity: 0; 
                transition: all 0.4s;
            }

            &:hover{
                .btn {
                    opacity: 1;
                }
            }
        }
    }

    .cms-content {
        h4 {
            color: $color-black;
            font-family: $bold;
            margin-bottom: 25px;
        }

        p{
            font-size:16px;
            line-height:26px;
        }

        ul{
            li{
                font-size: 14px;
                line-height: 18px;
                margin: 20px 0;
                color: $color-primary;
                text-transform: uppercase;
                font-family: $bold;
            }
        }
    }
}

.lt-video {
    img{
        display: block;
    }

    .lt-video-tools {
        position: absolute;
        width: 190px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -95px;
        background: #fff;
        font-size: 60px;
        cursor: pointer;

        @include response(max, 767) {
            width: 90px;
            margin-left: -45px;
            font-size: 30px;
        }
    }

    .table{
        display: table;
        width: 100%;
        height: 100%;

        .table-cell {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            text-align: center;
        }
    }

    i{
        color: $color-primary;
        dispaly:block;
        margin: 0 auto;
        width: 70px;
    }

    .btn-play {
        font-size: 13px;
        font-family: $bold;
        text-transform: uppercase;
        margin-top: 10px;
        line-height: 16px;

    }
}
 
.lt-from-technology{
    text-align: center;

    @include response(min, 1200){
        padding-bottom: 100px;
    }

    .title {
        display: block;
        margin-bottom: 30px;
        padding: 35px 0; 
        transition: all 0.4s;
        font-family: $bold;
        color: $color-black;
        font-size: 30px;
        position: relative;

        @include response(max, 767){
            font-size: 20px;
            margin-bottom: 0;
        }

        &:after {
            content:"";
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $color-black;
            transition: all 0.4s;
        }

        img {
            max-height: 40px;
        }

        img, span {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            z-index: 1;
        }

        &:hover{
            color: #fff;

            &:after {
                height: 100%;
            }
        }
    }
}

.lt-list-logos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    img {
        margin-bottom: 10px;
    }

    li {
        text-align: center;
        padding: 25px 15px;

        @include response(max, 1380){
            padding: 15px 0;
        }

        span{
            font-size: 12px;
            font-family: $bold;
            text-transform: uppercase;
            display: block;
        }
    }
}

.lt-from-technology{
    .lt-list-logos{
        @include response(max, 767){
            display: none;
        }

        img {
            height: 40px;
        }

        li{
            flex: 0 0 20%;
            max-width: 20%;

            @include response(max, 1380){
                flex: 0 0 25%;
                max-width: 25%;
                padding: 15px 0;
            }
        }
    }
}

.row-sub-pages {
    .lt-list-logos {
        li {
            flex: 0 0 14.2857%;
            max-width: 14.2857%;

            @include response(max, 991){
                flex: 0 0 20%;
                max-width: 20%;
            }

            @include response(max, 767){
                flex: 0 0 25%;
                max-width: 25%;
            }

            @include response(max, 576){
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }

        img {
            height: 60px;
        }
    }
}

.lt-from-blog {
    .lt-title{
        p{
            margin: 50px 0;

            @include response(max, 1199){
                margin: 25px 0;
            }
        }
    }
}

.grid {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
}

.grid-sizer, 
.grid-item {
    width: 33.333%;
    float: left;
    
    @include response(max, 991){
        width: 50%;
    }
}

.grid-item--width2 {
    width: calc(66.6667% - 1px);

    @include response(max, 991){
        width: 100%;
    }
}

.grid-sizer,
.grid-item,
.grid-item--width2 {
    @include response(max, 767){
        width: 100%;
    }
}

.grid-img{
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
    position: relative;

    img {
        display: block;
    }
 
    @include response(max, 767){
        max-height: 300px;
    }

    .tile-content{
        position: absolute;
        padding: 30px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        -webkit-transition: opacity .3s ease-out;
        transition: opacity .3s ease-out;
        // text-shadow: 0px 1px 3px rgba(0,0,0,0.8);

        @include response(max, 700){
            padding: 15px;
        }
    }

    .category {
        font-size: 16px;
        color: #fff;
        display: block;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 32px;
        line-height: 38px;

        @include response-to(768, 997){
            font-size: 22px;
            line-height: 30px;
        }

        @include response(max, 767){
            max-height: 300px;
            font-size: 20px;
            line-height: 24px;
        }
        
        a {
            color: #fff;
        }
    }

    .description {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        opacity: .75;
        max-width: 75%;
        margin-top: 28px;
        opacity: 0;
        transform: translate3d(-5px,0,0);
        transition: opacity .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
        transition: opacity .3s ease-out .1s,transform .3s ease-out .1s;
        transition: opacity .3s ease-out .1s,transform .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
        
        @include response(max, 767){
            display: none;
        }
    }

    .cta {
        z-index: 6;
        position: absolute;
        bottom: 30px;
        right: 20px;
        opacity: 0;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-decoration: underline;
        transform: translate3d(0,5px,0);
        transition: opacity .3s ease-in 0s,-webkit-transform .3s ease-in 0s;
        transition: opacity .3s ease-in 0s,transform .3s ease-in 0s;
        transition: opacity .3s ease-in 0s,transform .3s ease-in 0s,-webkit-transform .3s ease-in 0s;
        max-width: 310px;
        display: inline-block;
        margin-top: 30px;

        @include response(max, 700){
            bottom: 15px;
            right: 15px;
            font-size: 14px;
        }
    }

    .filter-tags {
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 5;
        opacity: 1;
        transform: translate3d(0,0,0);
        transition: opacity .3s ease-out .35s,-webkit-transform .3s ease-out .3s;
        transition: opacity .3s ease-out .35s,transform .3s ease-out .3s;
        transition: opacity .3s ease-out .35s,transform .3s ease-out .3s,-webkit-transform .3s ease-out .3s;

        @include response(max, 700){
            bottom: 15px;
            left: 15px;
        }
    }

    .filter{
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        padding-right: 10px;
        display: inline-block;

        @include response(max, 700){
            font-size: 14px;
        }
    }

    .gradient {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s ease-out .2s;
    }

    &:hover {
        .description {
            opacity: .7;
            transform: translate3d(0,0,0);
        }

        .cta {
            opacity: 1;
            transform: translate3d(0,0,0);
            transition: opacity .3s ease-out .3s,-webkit-transform .3s ease-out .3s;
            transition: opacity .3s ease-out .3s,transform .3s ease-out .3s;
            transition: opacity .3s ease-out .3s,transform .3s ease-out .3s,-webkit-transform .3s ease-out .3s;
        }
        
        .filter-tags {
            opacity: 0;
            transform: translate3d(0,5px,0);
            transition: opacity .3s ease-in 0s,-webkit-transform .3s ease-in 0s;
            transition: opacity .3s ease-in 0s,transform .3s ease-in 0s;
            transition: opacity .3s ease-in 0s,transform .3s ease-in 0s,-webkit-transform .3s ease-in 0s;
        }

        .gradient {
            opacity: 1;
            transition: opacity .3s ease-out .3s,transform .3s ease-out .3s,-webkit-transform .3s ease-out .3s;
        }       
    }
}

.lt-about {
    @include response(min, 1200){
        margin: 100px 0;
    }
} 

.lt-ins-photos {
    padding-bottom: 0;

    .inst-slider {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    
    img {
        width: 100%;
    }

    .photo-item {
        flex: 0 0 12.5%;
        max-width: 12.5%;
        font-size: 0;

        @include response(max, 991){
            flex: 0 0 25%;
            max-width: 25%;
        }

        @include response(max, 767){
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        @include response(max, 480){
            flex: 0 0 50%;
            max-width: 50%;
        } 

        img {
            display: block;
        }
    }
}

.lt-cms-title { 
    padding: 60px 0 140px;

    @include response(max, 990){
        padding: 20px 0;
    }

    @include response(max, 767){
        padding: 0;
    }

    .name-page {
        text-transform: uppercase;
        font-size: 12px;
        font-family: $bold;
    }

    h2 {
        margin: 25px 0;

        span {
            text-transform: uppercase;
        }
    }

    .line {
        display: inline-block;
        border-bottom: 3px solid $color-primary;
    }

    h4 {
        color: $color-primary;
    }

    .page-text {
        p {
            font-size: 20px;
            line-height: 32px;
        }
    }
}

.lt-cms { 
    .lt-title { 
        margin: 25px 0 50px 0;

        @include response(max, 767){
            margin: 25px 0;
        }
    }
}

.lt-cms {
    &.lt-dark {
        padding: 100px 0;

        @include response(max, 767){
            padding: 50px 0;
        }
    }
}

.lt-dark {
    background: $color-black;
    margin-bottom: 100px;
    
    @include response(max, 767){
        margin-bottom: 50px;
    }
    
    .lt-title {
        h2{
            color: #fff;
        }
    }
}

.text-left {
    text-align: left;
}

.list-number {
    position: relative;
    padding-left: 60px;
    margin: 20px 0;
    color: #fff;

    span {
        position: absolute;
        left: 0;
        top: 0;
        color: $color-primary;
        font-family: $bold;
        font-size: 24px;
    }

    .title{
        font-size: 24px;
        margin-bottom: 15px;
        font-family: $bold;
    }

    p{
        font-size: 14px;
    }
}

.row-sub-pages {
    padding-top: 100px;

    @include response(max, 767){
        padding-top: 25px;
    }

    h4 {
        margin-bottom: 30px;

        @include response(max, 767){
             margin: 15px 0;
        }
    }
}

.lt-page-works{
    .lt-cms-title {
        padding-bottom: 0;
    }
}

.filters-button-group {
    margin-top: 80px;

    @include response(max, 767){
        margin-top: 40px;
        text-align: center;
    }

    a {
        display: inline-block;
        font-size: 24px;
        line-height: 32px;
        color: $color-default;
        transition: all 0.4s;
        margin-left: 30px;

        
        &:hover, &.active {
            color: $color-primary;
        }

        &:first-child {
            margin-left: 0;
        }

        @include response(max, 991){
            font-size: 20px;
            line-height: 24px;
        }

        @include response(max, 767){
            font-size: 18px;
            line-height: 22px;

            &, &:first-child {
                margin: 10px;
            }
        }

        @include response(max, 600){
            display: block;
        }
    }
}

.no-page {
    text-align: center; 

     h1 {
        display: inline-block;
        position: relative;
        font-size: 200px;
        color: $color-black;
        font-family: $bold;
        margin-bottom: 30px;

        @include response(max, 767){
            font-size: 126px;
            margin-bottom: 10px;
        }
     }

     p{
        line-height: 24px;
     }
 
     .lt-title-line {
        position: absolute;
        height: 20px;
        width: calc(100% - 10px);
        z-index: 2;
        background: #fff;
        left: 0;
        top: 50%; 
        transform: translateY(-50%);
        margin-top: 18px;

        span { 
            font-size: 18px;
        }
     }
}
 
.light-bg {
    background: #f4f4f4;
 
    .lt-cms-title {
        padding: 40px 0 0;

        @include response(max, 767){
            padding: 0;  
        }
    }
}

.grid-blog {
    .grid-sizer,
    .grid-item-blog {
        width: calc(50% - 10px);
        margin-bottom: 80px;

        @include response(max, 767){
            width: 100%;
            margin-bottom: 30px; 
        } 
    }
}

.grid-item-blog {
    float: left;
    padding: 0 8.333333%;
    cursor: pointer;

    @include response(max, 991){
        padding: 0 25px;
    }

    @include response(max, 767){
        padding: 0;
    }

    &:hover{
        .blog-img {
            perspective: 800px;
            clip-path: inset(20px);
        }
    }

    .blog-img {
        overflow: hidden;
        position: relative;
        transition: perspective 0.4s, clip-path 0.4s;
        perspective: 1000px;
        clip-path: inset(0px);
    }

    .wrap-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img{
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(0,0,300px);
        will-change: transform; 
    }

    .blog-cms {
        padding: 30px;

        @include response(max, 767){
            padding: 15px;
        }

        h4{
            font-size: 22px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .blog-footer{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        font-size: 13px;

        @include response(max, 767){
            padding: 15px;
        }

        .blog-date{
            font-family: $bold;
        } 

        a {
            color: $color-primary;
            text-transform: uppercase;
            font-family: $bold;

            &:hover {
                text-decoration: underline;
            }

            // i {
            //     display: inline-block;
            //     vertical-align: middle;
            //     font-size: 24px;
            // }
        }
    }
}

.lt-share-title,
.lt-blog-title {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-family: $bold;
}

.lt-grid-blog {
    .lt-blog-title {
        padding: 50px 0 100px;

        @include response(max, 767){
            padding: 25px 0 50px;
        }
    }
}

.blog-image {
    background-position: center;
    background-size: cover;
    position: relative;
    display: table-cell;
    width: 100%;

    @include response(min, 768){
        height: 700px;
    }

    // @include response(max, 767){
    //     padding: 25px 0 50px;
    // }

    .table{
        height: 100%;
    }
 
    .table-cell {
        vertical-align: middle;
    }

    * {
        color: #fff;
    }
}

.lt-share-title {
    padding-bottom: 50px;
}

.share {
    @include response(min, 768){
        padding-bottom: 100px;
    }
}

.list-share {
    text-align: center;
    font-size: 0;

    .item-share { 
        display: inline-block;
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 3px;
        
        @include response(max, 767){
            width: 40px;
            height: 40px;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0; 
            height: 4px;
            width: 100%;
            background: $color-black;
            transition: all 0.4s;

            @include response(max, 767){
                height: 2px;
            }
        }

        &:hover {
            a{
                 color: #fff;
            }

            &:after {
                height: 100%;
            }

            &.facebook {
                &:after {
                    background: #3b5998;
                }
            }

            &.twitter {
                &:after {
                    background: #1da1f2;
                }
            }

            &.google {
                &:after {
                    background: #dd4d42;
                }
            }

            &.linkedin {
                &:after {
                    background: #0177b5;
                }
            }

            &.pinterest {
                &:after {
                    background: #bd081b;
                }
            }
        } 
    }

    a {
        color: $color-black;
        transition: all 0.4s;
        font-size: 24px;

        @include response(max, 767){
            font-size: 14px;
        }
    }

    .table {
        height: 100%;
        position: relative;
        z-index:1;
    }

    .table-cell {
        vertical-align: middle;
    }
}