.lt-ins-photos {

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color:  $color-primary;
        transition: all 0.4s;
        cursor: pointer;
        text-align: center;
        z-index: 1;
        font-size: 40px;

        &:hover {

        }
    }
}