body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: $regular;
  color: $color-default;
}

html {
  height: 100%;

  &.load {
    overflow: hidden;
  }


  &.no-scroll{
    // overflow: hidden;

    body{
      overflow: hidden;
      // padding-right: 15px;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

strong,b{
  font-family: $bold;
}

p{
    line-height: 20px;
}
//input[placeholder].form-input               {font-family: $light;}
//.form-input::-webkit-input-placeholder      {font-family: $light;}
//.form-input:-moz-placeholder                {font-family: $light;}
//.form-input::-moz-placeholder               {font-family: $light;}
//.form-input:-ms-input-placeholder           {font-family: $light;}
//.form-input::-moz-placeholder               {font-family: $light;}
//input:-moz-placeholder.form-input.fail      {font-family: $light;}
  
h1,h2,h3,h4,h5,h6{
   
}
 
h2,h3,h4,h5,h6{
  font-family: $bold;
  color: $color-black;
}

h1{

}

h2{
  font-size: 55px;

  @include response(max, 767){
    font-size: 35px;
  }
}

h3{
  font-size: 40px;

  @include response(max, 767){
    font-size: 25px;
  }
}

h4{
  font-size: 30px;

  @include response(max, 767){
    font-size: 20px;
  }
}

h5{
  font-size: 18px;

  @include response(max, 767){
    font-size: 14px;
  }
} 
h6{
}

.center{
  text-align: center;
}

.table{
  display: table;
  table-layout: fixed;
  width:100%;
}

.table-cell{
  display: table-cell;
  height: 100%;
}

.other-elements{
  display: none;
  transform: none;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.wrap-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.wrap-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-white {
  * {
    color: #e8e8e9;
  }

  p {
    font-size: 18px; 
    line-height: 35px;
  }
}
