/*.jstree {*/
  /*margin: 0 0 0 -7px; }*/
/*.jstree ul li i {*/
  /*background: #fff; }*/
/*.jstree ul li a {*/
  /*font-family: "RobotoLight";*/
  /*font-size: 14px;*/
  /*line-height: 18px;*/
  /*color: #2d3e50;*/
  /*transition: all 0.25s ease;*/
  /*padding: 0 4px;*/
  /*max-width: 85%;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*overflow: hidden; }*/
/*.jstree ul li a.jstree-clicked {*/
  /*border: none;*/
  /*background: #2FC7F7;*/
  /*color: #fff; }*/
/*.jstree ul li a:hover {*/
  /*border: none;*/
  /*background: #2FC7F7;*/
  /*color: #fff; }*/
/*.jstree ul li.jstree-closed > .jstree-ocl {*/
  /*background: url(../img/icons/32.png) -4px -2px #fff; }*/
/*.jstree ul li.jstree-open > .jstree-ocl {*/
  /*background: url(../img/icons/32.png) -40px -2px #fff; }*/
/*.jstree ul li.jstree-open > a > .jstree-themeicon {*/
  /*background-position: -112px -83px; }*/
/*.jstree ul li.jstree-leaf {*/
  /*background-position: -186px 0; }*/
/*.jstree ul li.jstree-leaf > a > .jstree-themeicon {*/
  /*display: none; }*/
/*.jstree ul li.jstree-leaf .jstree-ocl {*/
  /*background-position: -79px 0; }*/
/*.jstree .jstree-default .jstree-open > .jstree-ocl {*/
  /*background: #fff; }*/

.switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch:after {
  content: '';
  display: table;
  clear: both;
}
.switch .sw-label {
  display: block;
  float: left;
  line-height: 30px;
  font-family: "OpenSansLight";
}
.switch label {
  cursor: pointer;
  overflow: hidden;
  float: left;
  width: 90px;
  height: 30px;
  border-radius: 15px;
  background: #2cd4ba;
  display: block;
}
.switch label input {
  display: none;
}
.switch label .sw {
  transition: all .3s ease;
  font-size: 0;
  width: 172px;
}
.switch label .sw span {
  display: inline-block;
  vertical-align: top;
}
.switch label .sw .sw-btn {
  width: 26px;
  height: 26px;
  margin: 2px;
  border-radius: 50%;
  background: #fff;
}
.switch label .sw .label {
  color: #fff;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 28px;
  width: 60px;
  text-align: center;
}
.switch label input[type='checkbox']:checked + .sw {
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
}

.jstree.jstree-admin {
    -webkit-font-smoothing: antialiased;
    font-family: 'Titillium Web', sans-serif, Arial, sans-serif;
    text-align: left
}

.jstree.jstree-admin li, .jstree.jstree-admin ins {
    background-image: url("vendor/jstree-theme/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 108px 96px
}

.lt-ie9 .jstree.jstree-admin li, .lt-ie9 .jstree.jstree-admin ins {
    background-image: url("vendor/jstree-theme/d-ie8.png");
    background-size: auto auto
}

.jstree.jstree-admin li {
    background-position: -90px 0;
    background-repeat: repeat-y;
    min-height: 24px;
    font-size: 14px;
    line-height: 24px
}

.jstree.jstree-admin > ul > li:first-child {
    padding-top: 5px
}

.jstree.jstree-admin a > ins {
    width: 18px
}

.jstree.jstree-admin li.jstree-last {
    background: transparent
}

.jstree.jstree-admin .jstree-open > ins {
    background-position: -72px 0
}

.jstree.jstree-admin .jstree-open > a > ins {
    background-position: -56px -37px
}

.jstree.jstree-admin .jstree-open > a > ins.jstree-icon {
    height: 14px
}

.jstree.jstree-admin .jstree-closed > ins {
    background-position: -54px 0
}

.jstree.jstree-admin .jstree-leaf > ins {
    background-position: -36px 0
}

.jstree.jstree-admin a {
    position: relative;
    top: -6px;
    max-width: 80%;
    display: inline-block;
    height: 24px;
    padding: 4px 6px 3px;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    border-radius: 3px;
    color: inherit;
    -webkit-transition: all .1s;
    transition: all .1s;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jstree.jstree-admin .jstree-hovered {
    background: #76b6ec;
    color: #fff
}

.jstree.jstree-admin .jstree-clicked {
    background: #3392e3;
    color: #fff
}

.jstree.jstree-admin .jstree-clicked > ins {
    background-position: -74px -19px
}

.jstree.jstree-admin a .jstree-icon {
    background-position: -56px -19px
}

.jstree.jstree-admin a.jstree-loading .jstree-icon {
    /*background: url("../styles/vendor/jstree-theme/throbber.gif") center center no-repeat !important*/
}

.jstree.jstree-admin .jstree-focused {
    background: transparent
}

.jstree.jstree-admin .jstree-no-dots li, .jstree.jstree-admin .jstree-no-dots .jstree-leaf > ins {
    background: transparent
}

.jstree.jstree-admin .jstree-no-dots .jstree-open > ins {
    background-position: -18px 0
}

.jstree.jstree-admin .jstree-no-dots .jstree-closed > ins {
    background-position: 0 0
}

.jstree.jstree-admin .jstree-no-icons a .jstree-icon {
    display: none
}

.jstree.jstree-admin .jstree-search {
    font-style: italic
}

.jstree.jstree-admin .jstree-no-icons .jstree-checkbox {
    display: inline-block
}

.jstree.jstree-admin .jstree-no-checkboxes .jstree-checkbox {
    display: none !important
}

.jstree.jstree-admin .jstree-checked > a > .jstree-checkbox {
    background-position: -37px -19px
}

.jstree.jstree-admin .jstree-unchecked > a > .jstree-checkbox {
    background-position: -1px -19px
}

.jstree.jstree-admin .jstree-undetermined > a > .jstree-checkbox {
    background-position: -19px -19px
}

.jstree.jstree-admin .jstree-checked > a > .checkbox:hover {
    background-position: -37px -37px
}

.jstree.jstree-admin .jstree-unchecked > a > .jstree-checkbox:hover {
    background-position: -1px -37px
}

.jstree.jstree-admin .jstree-undetermined > a > .jstree-checkbox:hover {
    background-position: -19px -37px
}

.jstree.jstree-admin.jstree li[rel="file"] > a > ins.jstree-icon {
    background-image: url("vendor/jstree-theme/file.png");
    background-position: 0 0;
    background-size: 18px 16px
}

.lt-ie9 .jstree.jstree-admin.jstree li[rel="file"] > a > ins.jstree-icon {
    background-image: url("vendor/jstree-theme/file-ie8.png");
    background-size: auto auto
}

.jstree.jstree-admin #tree-dragged {
    font-size: 14px;
    line-height: 24px;
    opacity: .7
}

.jstree.jstree-admin #tree-dragged.jstree-admin ins {
    background: transparent !important
}

.jstree.jstree-admin #tree-dragged.jstree-admin .jstree-ok {
    background: url("vendor/jstree-theme/d.png") -1px -54px no-repeat !important;
    background-size: 108px 96px !important
}

.lt-ie9 .jstree.jstree-admin #tree-dragged.jstree-admin .jstree-ok {
    background: url("vendor/jstree-theme/d-ie8.png") -1px -54px no-repeat !important;
    background-size: auto auto
}

.jstree.jstree-admin #tree-dragged.jstree-admin .jstree-invalid {
    background: url("vendor/jstree-theme/d.png") -18px -54px no-repeat !important;
    background-size: 108px 96px !important
}

.lt-ie9 .jstree.jstree-admin #tree-dragged.jstree-admin .jstree-invalid {
    background: url("vendor/jstree-theme/d-ie8.png") -18px -54px no-repeat !important;
    background-size: auto auto
}

.jstree.jstree-admin #jstree-marker.jstree-admin {
    background: url("vendor/jstree-theme/d.png") -40px -56px no-repeat !important;
    background-size: 108px 96px !important;
    text-indent: -100px
}

.lt-ie9 .jstree.jstree-admin #jstree-marker.jstree-admin {
    background: url("vendor/jstree-theme/d-ie8.png") -40px -56px no-repeat !important;
    background-size: auto auto
}

.jstree.jstree-admin a.jstree-search {
    color: aqua
}

.jstree.jstree-admin .jstree-locked a {
    color: silver;
    cursor: default
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context, .jstree.jstree-admin #tree-contextmenu.jstree-admin-context li ul {
    background: #f0f0f0;
    border: 1px solid #979797;
    -moz-box-shadow: 1px 1px 2px #999;
    -webkit-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context a {
    color: black
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context a:hover, .jstree.jstree-admin #tree-contextmenu.jstree-admin-context .tree-hover > a {
    padding: 0 5px;
    background: #e8eff7;
    border: 1px solid #aecff7;
    color: black;
    border-radius: 2px
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context li.jstree-contextmenu-disabled a, .jstree.jstree-admin #tree-contextmenu.jstree-admin-context li.jstree-contextmenu-disabled a:hover {
    color: silver;
    background: transparent;
    border: 0;
    padding: 1px 4px
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context li.tree-separator {
    background: white;
    border-top: 1px solid #e0e0e0;
    margin: 0
}

.jstree.jstree-admin #tree-contextmenu.jstree-admin-context li ul {
    margin-left: -4px
}


#tree-dragged {
    display: block;
    line-height: 16px;
    margin: 0;
    padding: 4px 4px 4px 24px;
    position: absolute;
    top: -2000px;
    z-index: 10000;
}
#tree-contextmenu {
    display: block;
    left: 0;
    min-width: 180px;
    position: absolute;
    top: -200px;
    visibility: hidden;
    z-index: 1000;

    float: left;

    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#tree-contextmenu ul {
    min-width: 180px;
}
#tree-contextmenu ul, #tree-contextmenu li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tree-contextmenu li {
    min-height: 20px;
    position: relative;
    clear: both;
    white-space: nowrap;
    padding: 3px 10px;
    line-height: 1.42857143;
}
#tree-contextmenu li a {
    text-decoration: none;
    font-weight: normal;
    color: #333;
}
#tree-contextmenu li ins {
    margin-right: 2px;
}
#tree-contextmenu li:hover, #tree-contextmenu li.tree-hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
#tree-contextmenu li ul {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid gray;
    display: none;
    left: 100%;
    position: absolute;
    top: -2px;
}
#tree-contextmenu .right {
    left: auto;
    right: 100%;
}
#tree-contextmenu .bottom {
    bottom: -1px;
    top: auto;
}
#tree-contextmenu li.tree-separator {
    background: none repeat scroll 0 0 silver;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 2px;
    min-height: 0;
    overflow: hidden;
    padding: 0;
}


@media (max-width: 479px) {
    .jstree.jstree-admin {
        width: 100%
    }

    .jstree.jstree-admin li {
        background-image: none
    }

    .jstree.jstree-admin ins {
        background-size: 108px 96px
    }

    .jstree.jstree-admin li {
        padding: 6px 0;
        border-top: 1px solid #eee;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        margin-left: 0
    }

    .jstree.jstree-admin .jstree-open {
        background-color: #f7f7f7;
        background-color: rgba(0, 0, 0, 0.02);
        padding-bottom: 0 !important
    }

    .jstree.jstree-admin .jstree-open li:last-child {
        padding: 6px 0
    }

    .jstree.jstree-admin .jstree-open + .jstree-open {
        border-top: 1px solid #eee;
        background-color: rgba(0, 0, 0, 0.02)
    }

    .jstree.jstree-admin > ul > .jstree-last {
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    }

    .jstree.jstree-admin li.jstree-open > ul {
        margin-top: 6px
    }

    .jstree.jstree-admin li > ins {
        position: relative;
        top: 2px;
        width: 21px;
        height: 21px
    }

    .jstree.jstree-admin a, .jstree.jstree-admin .jstree-hovered, .jstree.jstree-admin .jstree-clicked {
        background-color: transparent;
        color: inherit;
        padding: 0 3px;
        margin-left: 8px;
        top: 3px
    }

    .jstree.jstree-admin .jstree-leaf > ins {
        background: transparent
    }

    .jstree.jstree-admin .jstree-no-dots .jstree-closed > ins, .jstree.jstree-admin .jstree-closed > ins {
        background-position: -53px -54px
    }

    .jstree.jstree-admin .jstree-no-dots .jstree-open > ins, .jstree.jstree-admin .jstree-open > ins {
        background-position: -53px -75px
    }

    .jstree.jstree-admin > ul > li:first-child {
        padding: 6px 0
    }

    .jstree.jstree-admin > ul > li > ins {
        margin-left: 15px;
        margin-right: 5px
    }

    .jstree.jstree-admin > ul > li > ul > li {
        border-color: rgba(0, 0, 0, 0.1)
    }

    .jstree.jstree-admin > ul > li > ul > li > ins {
        margin-left: 48px
    }

    .jstree.jstree-admin > ul > li > ul > li > ul > li {
        border-color: rgba(0, 0, 0, 0.15)
    }

    .jstree.jstree-admin > ul > li > ul > li > ul > li > ins {
        margin-left: 72px
    }
}

.ui-pnotify {
    top: 70px;
    max-width: 90%
}

.ui-pnotify .ui-pnotify-container {
    border: 0;
    margin-bottom: 0
}

.ui-pnotify h4 {
    font-size: 14px;
    text-transform: uppercase
}

.ui-pnotify .ui-pnotify-icon span {
    position: relative;
    top: -1px;
    margin-right: 5px;
    font-size: 16px
}

.ui-pnotify .ui-pnotify-closer, .ui-pnotify .ui-pnotify-sticker {
    position: relative;
    top: -2px;
    margin-left: 10px
}

.ui-pnotify .alert {
    background-color: #333;
    border-color: transparent;
    color: #fff
}

.ui-pnotify .alert hr {
    border-top-color: #262626
}

.ui-pnotify .alert .alert-link {
    color: #499ee6
}

.no-touch .ui-pnotify .alert:hover {
    background-color: #262626
}

.ui-pnotify .alert-success {
    background-color: #aece4e;
    border-color: transparent;
    color: #fff
}

.ui-pnotify .alert-success hr {
    border-top-color: #a5c83a
}

.ui-pnotify .alert-success .alert-link {
    color: #499ee6
}

.no-touch .ui-pnotify .alert-success:hover {
    background-color: #a5c83a
}

.ui-pnotify .alert-info {
    background-color: #76b6ec;
    border-color: transparent;
    color: #fff
}

.ui-pnotify .alert-info hr {
    border-top-color: #60aae9
}

.ui-pnotify .alert-info .alert-link {
    color: #499ee6
}

.no-touch .ui-pnotify .alert-info:hover {
    background-color: #60aae9
}

.ui-pnotify .alert-error {
    background-color: #e77755;
    border-color: transparent;
    color: #fff
}

.ui-pnotify .alert-error hr {
    border-top-color: #e4653f
}

.ui-pnotify .alert-error .alert-link {
    color: #499ee6
}

.no-touch .ui-pnotify .alert-error:hover {
    background-color: #e4653f
}

@media (max-width: 479px) {
    .ui-pnotify {
        right: 0 !important
    }
}


.panel.gallery-uploader .panel-heading {
    position: relative;
    z-index: 3;
    font-size: 16px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05)
}

.panel.gallery-uploader .panel-heading .icon-info-sign {
    top: 1px;
    margin-left: 5px;
    color: #ccc;
    font-size: 14px
}

.panel.gallery-uploader .list-group .dropzone-container {
    background: #f7f7f7;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .1s ease-in-out, padding .1s ease-in-out;
    transition: max-height .1s ease-in-out, padding .1s ease-in-out
}

.panel.gallery-uploader .list-group .preview-container {
    padding: 15px 8px 20px;
    -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05)
}

.panel.gallery-uploader .dropzone {
    border: 0;
    background: 0;
    padding: 0 0 5px;
    color: #ccc;
    text-align: center
}

.panel.gallery-uploader .dropzone .icon-picture {
    display: block;
    margin: 15px auto 8px;
    font-size: 40px
}

.panel.gallery-uploader .dropzone .icon-download {
    display: block;
    margin: 18px auto 4px;
    font-size: 40px
}

.panel.gallery-uploader .dropzone .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: #76b6ec;
    color: #fff;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s .1s;
    transition: opacity .3s .1s
}

.panel.gallery-uploader .gallery-title {
    display: block;
    float: left;
    clear: none
}

.panel.gallery-uploader .add {
    position: relative;
    float: left;
    clear: both;
    top: 1px;
    margin-top: 15px;
    display: block;
    font-size: 14px
}

.panel.gallery-uploader .add span {
    -webkit-transition: opacity .1s .3s;
    transition: opacity .1s .3s
}

.panel.gallery-uploader .add.finished {
    display: none
}

.panel.gallery-uploader .add i {
    position: absolute;
    top: 0;
    right: -22px;
    font-size: 16px;
    margin-right: 4px
}

.panel.gallery-uploader .dz-drag-hover .hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.panel.gallery-uploader.active .list-group .dropzone-container {
    padding: 15px 20px;
    max-height: 145px
}

.gallery-container {
    font-size: 0
}

.gallery-container .dz-preview {
    position: relative;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
    font-size: 14px
}

.gallery-container .dz-preview .dz-details {
    width: 130px;
    height: 130px;
    position: relative;
    background: #ccc
}

.gallery-container .dz-preview img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 130px;
    max-height: 130px;
    width: 100%;
    border: 0
}

.gallery-container .dz-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    display: none
}

.gallery-container .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #bc401a;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

.gallery-container .dz-processing .dz-progress {
    display: block
}

.gallery-container .dz-error .dz-progress .dz-upload {
    background: #ee1e2d
}

.gallery-container .dz-error .dz-error-mark {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: .1s color;
    transition: .1s color
}

.gallery-container .dz-error .dz-error-message {
    display: block;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #e77755
}

.gallery-container .dz-error .overlay .controls {
    display: none
}

.gallery-container .dz-success .dz-progress {
    display: block;
    transition: opacity .4s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0)
}

.gallery-container .dz-success .dz-success-mark {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery-container .dz-success-mark, .gallery-container .dz-error-mark {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    right: -1px;
    top: -8px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s
}

.gallery-container .dz-success-mark:hover, .gallery-container .dz-error-mark:hover {
    color: #8f3114
}

.gallery-container .dz-error-message, .gallery-container .confirm-removal {
    display: none
}

.gallery-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    background: #ccc;
    background: rgba(0, 0, 0, 0.6);
    color: #fff
}

.gallery-container .overlay:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery-container .overlay .dz-filename {
    width: 140px;
    padding: 15px 5px 0 15px
}

.gallery-container .overlay .status {
    position: relative;
    z-index: 3;
    padding: 5px 5px 0
}

.gallery-container .overlay .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px 15px;
    text-align: center
}

.gallery-container .overlay .controls a {
    display: block;
    float: left;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding: 3px 0 0;
    -webkit-transition: background-color .1s;
    transition: background-color .1s
}

.gallery-container .overlay .controls a:hover {
    background-color: #76b6ec
}

.gallery-container .overlay .controls.confirm-removal a {
    float: right;
    margin: 0 5px;
    padding: 3px 5px 0;
    width: 40px
}

.modal-edit-image {
    text-align: left
}

.modal-edit-image .modal-thumbnail {
    width: 100%;
    max-width: 150px
}

.modal-edit-image .form-group {
    margin-top: 15px;
    text-align: left
}

.modal-edit-image .modal-footer .btn {
    margin-top: 5px
}

@media (min-width: 480px) {
    .panel.gallery-uploader .add {
        float: right;
        clear: none;
        margin-top: 0
    }

    .panel.gallery-uploader .add i {
        position: relative;
        top: 1px;
        right: auto
    }

    .panel.gallery-uploader .list-group .preview-container {
        padding: 15px 15px 20px
    }

    .modal-edit-image .form-group {
        margin-top: 0
    }

    .modal-edit-image .modal-footer .btn {
        margin-top: 0
    }
}


.panel.file-uploader .panel-heading {
    position: relative;
    z-index: 3;
    font-size: 16px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05)
}

.panel.file-uploader .panel-heading .icon-info-sign {
    top: 1px;
    margin-left: 5px;
    color: #ccc;
    font-size: 14px
}

.panel.file-uploader .list-group .dropzone-container {
    background: #f7f7f7;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .1s ease-in-out, padding .1s ease-in-out;
    transition: max-height .1s ease-in-out, padding .1s ease-in-out
}

.panel.file-uploader .list-group .preview-container {
    padding: 15px 8px 20px;
    -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.05)
}

.panel.file-uploader .dropzone {
    border: 0;
    background: 0;
    padding: 0 0 5px;
    color: #ccc;
    text-align: center
}

.panel.file-uploader .dropzone .icon-picture {
    display: block;
    margin: 15px auto 8px;
    font-size: 40px
}

.panel.file-uploader .dropzone .icon-download {
    display: block;
    margin: 18px auto 4px;
    font-size: 40px
}

.panel.file-uploader .dropzone .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: #76b6ec;
    color: #fff;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s .1s;
    transition: opacity .3s .1s
}

.panel.file-uploader .gallery-title {
    display: block;
    float: left;
    clear: none
}

.panel.file-uploader .add {
    position: relative;
    float: left;
    clear: both;
    top: 1px;
    margin-top: 15px;
    display: block;
    font-size: 14px
}

.panel.file-uploader .add span {
    -webkit-transition: opacity .1s .3s;
    transition: opacity .1s .3s
}

.panel.file-uploader .add.finished {
    display: none
}

.panel.file-uploader .add i {
    position: absolute;
    top: 0;
    right: -22px;
    font-size: 16px;
    margin-right: 4px
}

.panel.file-uploader .dz-drag-hover .hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.panel.file-uploader.active .list-group .dropzone-container {
    padding: 15px 20px;
    max-height: 145px
}

.file-container {
    font-size: 0
}

.file-container .dz-preview {
    position: relative;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
    font-size: 14px
}

.file-container .dz-preview .dz-details {
    width: 130px;
    height: 130px;
    position: relative;
    background: #ccc
}

.file-container .dz-preview img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 130px;
    max-height: 130px;
    width: 100%;
    border: 0
}

.file-container .dz-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    display: none
}

.file-container .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #bc401a;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

.file-container .dz-processing .dz-progress {
    display: block
}

.file-container .dz-error .dz-progress .dz-upload {
    background: #ee1e2d
}

.file-container .dz-error .dz-error-mark {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: .1s color;
    transition: .1s color
}

.file-container .dz-error .dz-error-message {
    display: block;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #e77755
}

.file-container .dz-error .overlay .controls {
    display: none
}

.file-container .dz-success .dz-progress {
    display: block;
    transition: opacity .4s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0)
}

.file-container .dz-success .dz-success-mark {
    opacity: 1;
    filter: alpha(opacity=100)
}

.file-container .dz-success-mark, .file-container .dz-error-mark {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    right: -1px;
    top: -8px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s
}

.file-container .dz-success-mark:hover, .file-container .dz-error-mark:hover {
    color: #8f3114
}

.file-container .dz-error-message, .file-container .confirm-removal {
    display: none
}

.file-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    background: #ccc;
    background: rgba(0, 0, 0, 0.6);
    color: #fff
}

.file-container .overlay:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.file-container .overlay .dz-filename {
    width: 140px;
    padding: 15px 5px 0 15px
}

.file-container .overlay .status {
    position: relative;
    z-index: 3;
    padding: 5px 5px 0
}

.file-container .overlay .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px 15px;
    text-align: center
}

.file-container .overlay .controls a {
    display: block;
    float: left;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding: 3px 0 0;
    -webkit-transition: background-color .1s;
    transition: background-color .1s
}

.file-container .overlay .controls a:hover {
    background-color: #76b6ec
}

.file-container .overlay .controls.confirm-removal a {
    float: right;
    margin: 0 5px;
    padding: 3px 5px 0;
    width: 40px
}

.bootstrap-switch{
    height: 32px;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #eee;
    display: inline-block;
    padding: 5px 5px 0;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 3px;
    width: 100%;
    min-height: 37px;
    line-height: 20px;
    font-size: 0
}

.bootstrap-tagsinput input {
    position: relative;
    border: 0;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
    font-size: 14px
}

.bootstrap-tagsinput input:focus {
    border: 0;
    box-shadow: none
}

.bootstrap-tagsinput .tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "\F057";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover, .bootstrap-tagsinput .tag [data-role="remove"]:active {
    opacity: 1;
    filter: alpha(opacity=100)
}