@font-face {
    font-family: 'MuseoSansCyrl_500';
    src: url('../MuseoSansCyrl_500.eot');
    src: url('../MuseoSansCyrl_500.eot') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl_500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl_500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl_500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl_500.svg#MuseoSansCyrl_500') format('svg');
}

@font-face {
    font-family: 'MuseoSansCyrl_500_Italic';
    src: url('../fonts/MuseoSansCyrl_500_Italic.eot');
    src: url('../fonts/MuseoSansCyrl_500_Italic.eot') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl_500_Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl_500_Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl_500_Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl_500_Italic.svg#MuseoSansCyrl_500_Italic') format('svg');
}
@font-face {
    font-family: 'MuseoSansCyrl_900';
    src: url('../fonts/MuseoSansCyrl_900.eot');
    src: url('../fonts/MuseoSansCyrl_900.eot') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl_900.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl_900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl_900.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl_900.svg#MuseoSansCyrl_900') format('svg');
}


