@charset "UTF-8";

@font-face {
  font-family: 'gstuff';
  src:    url('../fonts/gstuff.eot?7qcq7m');
  src:    url('../fonts/gstuff.eot?7qcq7m#iefix') format('embedded-opentype'),
  url('../fonts/gstuff.ttf?7qcq7m') format('truetype'),
  url('../fonts/gstuff.woff?7qcq7m') format('woff'),
  url('../fonts/gstuff.svg?7qcq7m#gstuff') format('svg');
}

[data-icon]:before {
  font-family: "gstuff" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gstuff" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-arrow-right-1:before {
  content: "\64";
}
.icon-close:before {
  content: "\65";
}
.icon-close-1:before {
  content: "\66";
}
.icon-facebook-logo:before {
  content: "\67";
}
.icon-file:before {
  content: "\68";
}
.icon-google-plus:before {
  content: "\69";
}
.icon-linkedin-logo:before {
  content: "\6a";
}
.icon-menu:before {
  content: "\6b";
}
.icon-pinterest-logo:before {
  content: "\6c";
}
.icon-play-button:before {
  content: "\6d";
}
.icon-twitter-logo:before {
  content: "\6e";
}
.icon-instagram:before {
  content: "\6f";
}
