@mixin font($font, $size, $color){
  font-family: $font;
  font-size: $size;
  color: $color;
}
@mixin links ($link, $hover) {
  a{
    color: $link;
    &:hover {
      color: $hover;
    }
  }
}
@mixin vendor($property, $value...){
  -webkit-#{$property}:$value;

  -moz-#{$property}:$value;

  -ms-#{$property}:$value;

  -o-#{$property}:$value;

  #{$property}:$value;

}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin response($prefix, $media) {
 @media only screen and ($prefix+-width: $media+px) {
   @content;
 }
}
@mixin response-to($media1, $media2) {
 @media only screen and (min-width: $media1+px) and (max-width: $media2+px) {
   @content;
 }
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}