$regular: 'MuseoSansCyrl_500';
$italic: 'MuseoSansCyrl_500_Italic';
$bold: 'MuseoSansCyrl_900';

//fonts
 
$color-default: #62686d;
$color-black: #080808; 
$color-primary: #5ace5f;
 
$color-languages: #b6b6b6;
$color-languages-active: #565c63;

$color-footer: #7a7b7d;
//colors      