/* Header */
header{
    width: 100%;
    z-index: 100;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow:0 0 3px 1px rgba(0,0,0,0.2);

    .row, .col, .container {
        position: static;
    }

    @include response(max, 767) {
        padding: 20px 0;
    }

    .container {
        width: 100% !important;
        padding: 0 15px;
    }
 
    @include response-to(768, 1080) {
        .btn {
            span{
                padding: 0 15px;
            }
        }
    }

    .header-right{
        @include response(max, 767) {
            visibility: hidden;
            transition: all 0.6s;
            top: 120px;
            opacity: 0;
            position: fixed;
            left: 0;
            background: #fff;
            width: 100%;
            padding-bottom: 30px;
            border-top: 1px solid #e0e0e0;
        }

        &.open {
            opacity: 1;
            visibility: visible;
            max-height: calc(100vh - 100px);
            overflow: auto;
            
            @include response(max, 767) {
                top: 70px;
            }
        }
    }
}

.row-header {
    align-items: center;
    padding: 0 15px;

    @include response(max, 767) {
        justify-content: space-between;
        text-align: center;
    }

    @include response(max, 600) {
        padding: 0 0 0 15px;
    }
}

.site-logo {
    display: block;
    max-width: 110px;

    @include response-to(767, 1080){
        width: 39px;
        overflow: hidden;
        margin: 0 15px;

        img {
            max-width: inherit;
            width: 150px;
        }
    }
}

.header-nav{
    @include response(min, 768) {
        display: flex;
    }

    @include response(max, 767) {
        margin-bottom: 15px;
    }

    a{
        display: block;
        color: $color-default;
        font-family: $bold;
        transition: all 0.4s;
        position: relative;
        height: 100%;

        &:hover, &.active {
            color: $color-primary;
        }
    }

    &.fixed {
        li {
            &> a {
                @include response(min, 768) {
                    padding: 28px 8px;
                }
            }
        }
    }

    li{
        & > a{
            padding: 32px 8px;
            font-size: 13px;
            text-transform: uppercase;

            @include response-to(767, 991) {
                font-size: 12px;
            }

            @include response(max, 767) {
                padding: 15px 0;
                font-size: 24px;
            }
        }

        @include response(min, 768) {
            &:hover {
                & > a {
                    color: $color-primary;
                }

                .header-widget {
                    transition: 1s transform cubic-bezier(.19,1,.22,1),1s -webkit-transform cubic-bezier(.19,1,.22,1);
                    transform: none;
                    z-index:-1;
                }
            }
        }
    }

    .sub-nav {
        display: block;
        font-size: 16px;
        padding: 15px;
        color: $color-black;
        padding: 80px 0;
        transition: all 0.4s;
        
        @include response(max, 767) {
            padding: 15px 0;
        }
        
        &:hover{
            background: #f3f3f3;;
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }
        
        span {
            margin-left: 10px;
        }
    }
}

.header-widget {
    width: 100%;
    text-align: center;
    background: #fff;
    display: none;
    padding: 30px 0;

    @include response(min, 768) {
        display: block;
        position: absolute;
        box-shadow:0 0 3px 1px rgba(0,0,0,0.2);
        border-top: 1px solid #e0e0e0;
        left: 0;
        top: 76px;
        z-index:-1;
        height: auto;
        transform: scaleY(0);
        transform-origin: top;
        transition: .4s transform cubic-bezier(.165,.84,.44,1),.4s -webkit-transform cubic-bezier(.165,.84,.44,1);
    }
}

.header-works {
    padding: 30px 0;

    .slide-item {
        padding: 0 15px;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        line-height: 148px;
        border: 1px solid #dfdfdf;
        color: $color-primary;
        transition: all 0.4s;
        cursor: pointer;

        &:hover{
            background: $color-primary;
            color: #fff;
            border-color: $color-primary;
        }
    }

    .slick-prev {
        left: -40px;
    }

    .slick-next {
        right: -40px;
    }
}

.header-slider{
    @include response-to(768, 1199) {
        width: 90%;
        margin: 0 auto;
    }
}

.header-email {
    font-family: $italic;
    color: $color-default;
    letter-spacing: 1px;

    @include response-to(768, 900) {
        display: none;
    }
}

.header-languages {
    a {
        color: $color-languages;
        font-size: 13px;
        text-transform: uppercase;
        font-family: $bold;
        transition: all 0.4s;
 
        &:hover, &.active {
            color: $color-languages-active;
        }

        @include response(max, 767) {
            font-size: 20px;
        }
    }
}

.nav-btn {
    width: 30px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin: 0 15px;

    span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color-black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
            width: 24px;
            right: 0;
            left: auto;
        }
    }

    &.open{
        span{
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            
            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                width: 0%;
            }
        }
    }
}

.header-contact {
    @include response(max, 767) {
        width: 100%;
        margin: 30px 15px;

        .btn{
             width: 100%;
        }
    }
}