/* Wrapper */
.wrapper {
    width: 100%;
    margin: 0 auto;
    height: auto!important;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    &:not(.cms){
        @include response(min, 576){
            width: 96%;
            max-width: 1920px;
            margin: 0 auto;
        }

        @include response(min, 1200){
            width: 85%;
            min-width: 1140px;
        }
    }
}