<footer id="footer">
    <div class="lt-footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <p>© 2017 gstuff. All rights reserved</p>
                </div>
                <div class="col-6">
                    <div class="lt-footer-social">
                        <a href="">Dribbble</a>
                        <a href="">Behance</a>
                        <a href="">Facebook</a>
                        <a href="">LinkedIn</a>
                        <a href="">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 
 <!-- /  -->