<head>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <title>Gstuff</title>


    <link href="assets/css/vendor.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>