<header id="header">
    <div class="container">
        <div class="row row-header">
            <a href="index.html" class="site-logo">
                <img src="assets/img/site-logo.png" alt="">
            </a>
            <div id = "nav-btn" class = "nav-btn hidden-md-up">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right col">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="header-nav">
                            <li>
                                <a href="services">services</a>
                                <div class="header-widget">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3"><a href="services.html" class="sub-nav">Web-Development</a></div>
                                            <div class="col-md-3"><a href="" class="sub-nav">Mobile Apps</a></div>
                                            <div class="col-md-3"><a href="" class="sub-nav">Creative Design</a></div>
                                            <div class="col-md-3"><a href="" class="sub-nav">Life Time Support</a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="technology" class="active">technology</a>
                                <div class="header-widget">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-4">
                                                <a href="technology.html" class="sub-nav">
                                                    <img src="assets/img/technology/html5.png" alt="">
                                                    <span>FrontEnd</span>
                                                </a>
                                            </div>
                                            <div class="col-12 col-sm-4">
                                                <a href="" class="sub-nav">
                                                    <img src="assets/img/technology/php.png" alt="">
                                                    <span>BackEnd</span>
                                                </a>
                                            </div>
                                            <div class="col-12 col-sm-4">
                                                <a href="" class="sub-nav">
                                                    <img src="assets/img/technology/cms.png" alt="">
                                                    <span>CMS</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="work.html">work</a>
                            </li>
                            <li>
                                <a href="about.html">about</a>
                            </li>
                            <li>
                                <a href="blog.html">blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="row align-items-center">
                            <div class="col">
                                <a class="header-email" href="mailto:hello@gstuff.com">hello@gstuff.com</a>
                            </div>
                            <div class="col-md-auto header-contact">
                                <a href="lt-contact-us" class="btn btn-primary link-popup">
                                    <span data-hover="Contact us">Contact us</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="header-languages">
                                   <a class="active" href="">en</a>
                                   <a href="">ua</a>
                                   <a href="">ru</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>