<section class="lt-ins-photos">
    <div class="inst-slider"> 
        <a href="" class="photo-item">
            <img src="assets/img/instagram/1.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/2.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/3.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/4.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/5.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/6.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/7.jpg" alt="">
        </a>
        <a href="" class="photo-item">
            <img src="assets/img/instagram/8.jpg" alt="">
        </a>
    </div>
</section>