<div id="lt-contact-us" class="lt-popup">
    <a href="" class="popup-close"><i class="icon-close"></i></a>
    <div class="lt-scroll">
        <div class="lt-contact-us">
            <h2>Let's get in touch</h2>
            <form action="">
                <div class="input-group border-top">
                    <label for="l1">Name</label>
                    <input id="l1" type="text" class="start-focus" name="data[name]">
                    <span></span>
                </div>
                <div class="input-group">
                    <label for="l2">Phone</label>
                    <input id="l2" type="text" name="data[phone]">
                    <span></span>
                </div>
                <div class="input-group">
                    <label for="l3">E-mail</label>
                    <input id="l3" type="email" name="data[mail]">
                    <span></span>
                </div>
                <div class="textarea-group">
                    <label for="l4">SHORT INFO ABOUT PROJECT</label>
                    <textarea id="l4" name="" name="data[message]"></textarea>
                    <span></span>
                </div>
                <div class="wrap-btn">
                    <button class="btn-full btn btn-lg btn-hover-wh">
                        <span data-hover="get started">submit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="lt-getstarted" class="lt-popup">
    <a href="" class="popup-close"><i class="icon-close"></i></a>
    <div class="lt-scroll">
        <div class="lt-getstarted">
            <h2>Let's build products together!</h2>
            <form action="">
                <div class="row-checkbox">
                    <div class="checkbox">
                        <input id="website" type="checkbox" name="data[website]">
                        <label for="website">Website</label>
                    </div>
                    <div class="checkbox">
                        <input id="app" type="checkbox" name="data[app]">
                        <label for="app">App</label>
                    </div>
                    <div class="checkbox">
                        <input id="other" type="checkbox" name="data[other]">
                        <label for="other">Other</label>
                    </div>
                    <div class="checkbox">
                        <input id="frontend" type="checkbox" name="data[frontend]">
                        <label for="frontend">Front-End</label>
                    </div>
                    <div class="checkbox">
                        <input id="backend" type="checkbox" name="data[backend]">
                        <label for="backend">Backend</label>
                    </div>
                    <div class="checkbox">
                        <input id="cms" type="checkbox" name="data[cms]">
                        <label for="cms">cms</label>
                    </div>
                </div>
                <p class="center">
                    What is your budget for this project?
                </p>
                <div class="wrap-range">
                    <input type="text" id="slider-price" name="data[price]" value="" />
                </div>
                <div class="input-group">
                    <label for="l6">Name</label>
                    <input id="l6" type="text" class="start-focus" name="data[name]">
                    <span></span>
                </div>
                <div class="input-group">
                    <label for="l7">Company</label>
                    <input id="l7" type="text" name="data[company]">
                    <span></span>
                </div>
                <div class="input-group">
                    <label for="l8">Email</label>
                    <input id="l8" type="email" name="data[mail]">
                    <span></span>
                </div>
                <div class="input-group">
                    <label for="l9">Location</label>
                    <input id="l9" type="text" name="data[location]">
                    <span></span>
                </div>
                <div class="textarea-group">
                    <label for="l10">SHORT INFO ABOUT PROJECT</label>
                    <textarea id="l10" name="" name="data[message]"></textarea>
                    <span></span>
                </div>
                <div class="lt-btn-file">
                    <div class="label-btn"><i class="icon-file"></i>You haven't selected a file yet</div>
                    <input type="file">
                </div>
                <p class="center">
                    How did you hear about us?
                </p>
                <div class="select-group">
                    <select class="style-select" name="">
                        <option value="">Social media</option>
                        <option value="">Friends</option>
                        <option value="">News</option>
                    </select>
                </div>
                <div class="wrap-btn">
                    <button class="btn-full btn btn-lg btn-hover-wh">
                        <span data-hover="get started">submit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="lt-video-popup" class="lt-fancybox">
    <img src="assets/img/video-gif.gif" alt="">
</div>