/* Cms-content */
.cms-content{
  p{
    font-size: 16px;
    line-height: 26px;
  }
  
  h1,h2,h3,h4,h5,h6{

  }

  b,strong{

  }

  ul{
    // list-style-type: decimal-leading-zero;
    // counter-reset: item;
    // li{
    //   &:before {
    //     color:#87b846;
    //     font-family: $bold;
    //     content: counters(item, ".") ". ";
    //     counter-increment: item;
    //   
  }
  ol{
    li{
      list-style: decimal;
      list-style-position: inside;
    }
  }
  ol,li{

  }

  blockquote{

  }
}

.blog-content {
    .cms-content {
        & > * {
            margin-bottom: 40px;
            
            @include response(min, 768){
                padding-right: 8.333%;
                padding-left: 8.333%;
            }
            
            @include response(max, 767){
                margin-bottom: 20px;
            }
        }

        p{
            font-size: 18px;
            line-height: 30px;

            @include response(max, 767){
                font-size: 16px;
                line-height: 24px;
            }
        }
 
        img {
            padding: 0;
        }
    }
}