/* lt-popup*/
.lt-scroll {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
}

.lt-fancybox {
    display: none;
    padding: 20px;
}

.fancybox-close {
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
    transition: all 0.4s;
    
    &:hover{
        color: $color-primary;
    }
}

.popup-close {
    position: absolute; 
    display: none;
    font-size: 20px;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    color: #fff;
    transition: all 0.4s;
    z-index: 10;

    @include response(max, 767){
        top: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
    }

    &:hover{
        transform: rotate(90deg);

        i{
            color: $color-primary;
        }
    }
}

.lt-popup {
    position: fixed;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    overflow: hidden;
    background-color: #121212;
    transition: 0.4s all;

    &.open {
        top: 0;

        .popup-close {
            display: block;
        }
    }

    *, h2{
        color: #fff;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;

        @include response(min, 992){
            margin-bottom: 60px;
        }

        @include response(max, 767){
            font-size: 24px;
            margin-bototm: 15px;
        }
    }

    .wrap-btn {
        margin-top: 40px;
    }
}

.lt-contact-us,
.lt-getstarted {
    padding: 60px 20px;
    margin: 0 auto;

    @include response(max, 650){
        padding: 20px;
    }
}

.lt-contact-us {
    width: 550px;
}

.lt-getstarted {
    width: 600px;

    .row-checkbox{
        display: flex;
        flex-wrap: wrap;
    }

    p{
        font-family: $bold;
        font-size: 18px;
        margin: 35px 0;
    }

    .checkbox {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding: 0 5px;
        margin: 5px 0;

        @include response(max, 767){
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include response(max, 700){
            flex: 0 0 100%;
            max-width: 100%;
        }

        label {
            display: block;
            text-align: center;
            border: 1px solid rgba(255,255,255,0.2);
            padding: 15px;
            cursor: pointer;
            transition: all 0.4s;
            font-size: 13px;
            text-transform: uppercase;
            font-family: $bold;
        }

        input {
            display: none;
        }

        input, label {
            &:hover, &:checked + label {
                background: #fff;
                color: $color-black;
            }
        }
    }
}

.lt-getstarted,
.lt-contact-us {
    @include response(max, 650){
        width: 100%;
    }
}